html {
    scroll-behavior: auto !important;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    color: #ffffff;
}

/* Navbar */

.navbar {
    background-color: #51b2b9 ;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.navbar-brand {
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 400;
}

/* Hero Section */

#hero-section {
    background-size: cover;
}

/* Quienes Somos */

#quienes-somos {
    background-color: #000000;
    font-family: "Open Sans";
    line-height: 2;
    justify-content: flex-start;
}

#quienes-somos hr {
    color: #51b2b9;
}

#quienes-somos i {
    align-items: center;
    background-color: info;
}

/* destacados */

#destacados hr {
    color: #51b2b9;
}

/* footer */

#footer h1 {
    font-size: 50px;
}

#footer a {
    color: #ffffff;
    text-decoration: none;
}

